<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>Web Builder Template</title>

	<link rel="shortcut icon" href="assets/images/favicon.png">

	<!-- Bootstrap -->
	<link href="assets/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="assets/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- Custom styles -->
	<link rel="stylesheet" href="assets/css/styles.css">

	<!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
</head>
<body>

<header id="header">
	<div id="head" class="parallax qw-section" parallax-speed="2">
		<h1 id="logo" class="text-center" style="color: white;">
			<span class="title">Address Book</span>
			<span class="tagline">Example Tagline<br>
				<a href="#">example.blabla@example.com</a></span>
		</h1>
	</div>

	<nav class="navbar navbar-default navbar-sticky" style="margin-bottom: 0px">
		<div class="container-fluid">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>

			<div class="navbar-collapse collapse">

				<ul class="nav navbar-nav qw-list-item">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="product.html">Product</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li class="qw-list-default"><a href="default.html">Default</a></li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-account>Account<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="sign-up.html">Sign Up</a></li>
                            <li><a href="login.html">Login</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-login>My Account<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="account.html">My Account</a></li>
                            <li><a href="change-pass.html">Change Password</a></li>
                            <li><a href="address-book.html">Address Book</a></li>
                            <li><a href="view-cart.html">List Cart</a></li>
                            <li><a href="whistlist.html">Whist List</a></li>
                            <li><a href="order-history.html">Order History</a></li>
                            <li><a href="rewards-points.html">Rewards Points</a></li>
                            <li><a href="transactions.html">Transactions</a></li>
                        </ul>
                    </li>
                </ul>

			</div><!--/.nav-collapse -->
		</div>
	</nav>
</header>

<main id="main">

	<section class="row topspace" id="contact-map">
		<div class="container" id="form-sign-up">
			<div class="col-sm-12" id="add"></div>
		</div>
	</section>

</main>

<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">
					<p>+622152905148<br>
						<a href="mailto:#">example.blabla@example.com</a><br>
						<br>
						Jl. Coblong Selatan Bandung
					</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Follow me</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
						<a href="#"><i class="fa fa-twitter fa-2"></i></a>
						<a href="#"><i class="fa fa-dribbble fa-2"></i></a>
						<a href="#"><i class="fa fa-github fa-2"></i></a>
						<a href="#"><i class="fa fa-facebook fa-2"></i></a>
					</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Text widget</h3>
				<div class="widget-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Form widget</h3>
				<div class="widget-body">
					<p>+622152905148<br>
						<a href="mailto:#">example.blabla@example.com</a><br>
						<br>
						Jl. Coblong Selatan Bandung
					</p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
    <div class="container">
		<div class="row">

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p>BDG JUARA </p>
				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Copyright &copy; 2017, Web Builder Template<br>
						Design: <a href="#" rel="designer">Web Builder Template</a> </p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="fa fa-arrow-up"></span></a>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->

	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/template.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script>
        $(document).ready(function(){
            $.post('getdata.php',function(customer_id){
                if(customer_id){
                    jQuery.get('scid.txt', function(value) {
                        var obj = JSON.parse(value);
                        $.post("https://build.web.id/api/customers/getAddress/",{
                            "client_id": obj.cid,
                            "service_id": obj.layanan_id,
                            "customer_id": customer_id
                        },
                        function(data){
                            var add = data.data;
                            var htmlData = '';
                            var isDisabled = '';

                            htmlData += '<button class="btn btn-primary" id="btn-add" onclick="addAlamat()" style="margin-left: 15px;">Add Address</button><br><br>';
                            $.each(add, function(i,val) {
                                $('[data-login]').html(val.firstname+' '+val.lastname+' <b class="caret"></b>')
                                $('[data-account]').hide()

                                $.post("https://build.web.id/api/customers/getCityName/",{
                                    client_id: obj.cid,
                                    service_id: obj.layanan_id,
                                    province: val.zone_id,
                                    city: val.city
                                },
                                function(data){
                                    var type = data.data.type;
                                    var city_name = data.data.city_name;

                                    if(val.status==0){
                                        isDisabled = '';
                                        btnClass = 'btn-primary';
                                    }else{
                                        isDisabled = 'disabled="true"';
                                        btnClass = 'btn-default';
                                    }

                                    htmlData += '<div class="panel panel-cta col-md-12" style="padding: 20px;">';
                                    htmlData += '<table width="100%" style="padding: 20px;"><tr><td><p>'+val.firstname+' '+val.lastname+'</p></td></tr>';
                                    htmlData += '<tr><td><p>'+val.address_1+'</p></td></tr><tr><td><p>'+val.postcode+' '+type+' '+city_name+'</p></td></tr>';
                                    htmlData += '<tr><td>';
                                    htmlData += '<button class="btn '+btnClass+'" style="margin-right: 10px;" id="set" onclick="setAlamat('+val.address_id+')" '+isDisabled+'>Set Alamat Utama</button>';
                                    htmlData += '<button class="btn btn-primary" style="margin-right: 10px;" id="edit" onclick="editAlamat('+val.address_id+')">Edit Alamat</button>';
                                    htmlData += '<button class="btn '+btnClass+'" style="margin-right: 10px;" id="delete" onclick="deleteAlamat('+val.address_id+')" '+isDisabled+'>Delete Alamat</button>';
                                    htmlData += '</td><tr>';
                                    htmlData += '</tr></table></div>';
                                    $("#add").html(htmlData);
                                });
                            });
                        });
                    });
                }else{
                    $('[data-login]').hide()
                    $('[data-account]').show()
                    
                    swal("Anda belum login!", "Silahkan login terlebih dahulu!", "info")
                    .then((value) => {
                        window.location.href = "login.html";
                    });
                }
            });
        });

        function setAlamat(address_id){
            swal("Confirm!", "Set this address as default address?", "info")
            .then((value) => {
                $.post('getdata.php',function(customer_id){
                    jQuery.get('scid.txt', function(value) {
                        var obj = JSON.parse(value);
                        $.post("https://build.web.id/api/customers/updateActiveAddress/",{
                            "client_id": obj.cid,
                            "service_id": obj.layanan_id,
                            "customer_id": customer_id,
                            "address_id": address_id
                        },
                        function(data){
                            swal("Success!", "Set address success!", "success")
                            .then((value) => {
                                window.location.href = "address-book.html";
                            });
                        });
                    });
                });
            });
        }

        function editAlamat(address_id){
            $.post('getdata.php',function(customer_id){
                jQuery.get('scid.txt', function(value) {
                    var obj = JSON.parse(value);
                    var htmlData = '';

                    $.post("https://build.web.id/api/customers/getAddressbyId/",{
                        "client_id": obj.cid,
                        "service_id": obj.layanan_id,
                        "customer_id": customer_id,
                        "address_id": address_id
                    },
                    function(data){
                        var country_id = data.data.country_id;
                        var zone_id = data.data.zone_id;
                        var city = data.data.city;

                        $.post("https://build.web.id/api/customers/getCountry/",{
                            client_id: obj.cid,
                            service_id: obj.layanan_id
                        },
                        function(data,status){
                            var len = data.data.length;
                            for (var i = 0; i < len; i++) {
                                if(country_id==data.data[i]['country_id']){
                                    var idSelected = 'selected';
                                }else{
                                    var idSelected = '';
                                }
                                $('#country').append("<option value="+data.data[i]['country_id']+" "+idSelected+">"+data.data[i]['name']+"</option>");
                            }

                            $.post("https://build.web.id/api/Qwords_Shipping/getProvince/",{
                                    client_id: obj.cid,
                                    service_id: obj.layanan_id
                            },
                            function(data,status){
                                var len = data.data.length;
                                for (var i = 0; i < len; i++) {
                                    if(zone_id==data.data[i]['province_id']){
                                        var idSelected = 'selected';
                                    }else{
                                        var idSelected = '';
                                    }
                                    $('#region').append("<option value="+data.data[i].province_id+" "+idSelected+">"+data.data[i].province+"</option>");
                                }

                                $.post("https://build.web.id/api/customers/getCityName/",{
                                    client_id: obj.cid,
                                    service_id: obj.layanan_id,
                                    province: zone_id,
                                    city: city
                                },
                                function(data,status){
                                    $('#city').append("<option value="+data.data.city_id+" selected>"+data.data.type+" "+data.data.city_name+"</option>");
                                });
                            });

                            $('#region').change(function(){
                                var zone_id = $('#region').val();
                                //get select region
                                $.post("https://build.web.id/api/Qwords_Shipping/getCityOfProvince/",{
                                    client_id: obj.cid,
                                    service_id: obj.layanan_id,
                                    province: zone_id
                                },
                                function(data,status){
                                    var len = data.data.length;
                                    $('#city').empty();
                                    for (var i = 0; i < len; i++) {
                                        $('#city').append("<option value="+data.data[i]['city_id']+">"+data.data[i]['type']+" "+data.data[i]['city_name']+"</option>");
                                    }
                                });
                            });

                            $('#btn-send').click(function(){
                                var first_name = $('#first_name').val();
                                var last_name = $('#last_name').val();
                                var company = $('#company').val();
                                var address = $('#address_1').val();
                                var city = $('#city').val();
                                var postcode = $('#postcode').val();
                                var country_id = $('#country').val();
                                var zone_id = $('#region').val();
                                console.log(city)
                                $.post("https://build.web.id/api/customers/updateAddress/",{
                                    "client_id": obj.cid,
                                    "service_id": obj.layanan_id,
                                    "customer_id": customer_id,
                                    "address_id": address_id,
                                    "firstname": first_name,
                                    "lastname": last_name,
                                    "company": company,
                                    "address": address,
                                    "city": city,
                                    "postcode": postcode,
                                    "country_id": country_id,
                                    "zone_id": zone_id
                                },
                                function(data){
                                    swal("Success!", data.msg, "success")
                                    .then((value) => {
                                        window.location.href = "address-book.html";
                                    });
                                });
                            });
                        });

                        htmlData += '<h3 style="margin-left: 20px;">Update Address</h3>';
                        htmlData += '<div class="col-md-6" style="padding-bottom: 50px">';

                        htmlData += '<div class="control-group form-group" style="padding-left: 10px;">';
                        htmlData += '<div class="controls">';
                        htmlData += '<label>First Name</label>';
                        htmlData += '<input type="text" class="form-control" id="first_name" name="first_name" required data-validation-required-message="Please enter your first name." value="'+data.data.firstname+'">';
                        htmlData += '<p class="help-block"></p></div></div>';

                        htmlData += '<div class="control-group form-group" style="padding-left: 10px;">';
                        htmlData += '<div class="controls">';
                        htmlData += '<label>Last Name</label>';
                        htmlData += '<input type="text" class="form-control" id="last_name" name="last_name" required data-validation-required-message="Please enter your last name." value="'+data.data.lastname+'">';
                        htmlData += '<p class="help-block"></p></div></div>';

                        htmlData += '<div class="control-group form-group" style="padding-left: 10px;">';
                        htmlData += '<div class="controls">';
                        htmlData += '<label>Company</label>';
                        htmlData += '<input type="text" class="form-control" id="company" name="company" required data-validation-required-message="Please enter your company." value="'+data.data.company+'">';
                        htmlData += '<p class="help-block"></p></div></div>';

                        htmlData += '<div class="control-group form-group" style="padding-left: 10px;">';
                        htmlData += '<div class="controls">';
                        htmlData += '<label>Address</label>';
                        htmlData += '<input type="text" class="form-control" id="address_1" name="address_1" required data-validation-required-message="Please enter address 1." value="'+data.data.address_1+'">';
                        htmlData += '<p class="help-block"></p></div></div>';

                        htmlData += '</div><div class="col-md-6" style="padding-bottom: 50px">';

                        htmlData += '<div class="control-group form-group" style="padding-left: 10px;"><div class="controls">';
                        htmlData += '<label>Country</label>';
                        htmlData += '<select name="country" class="form-control" required data-validation-required-message="Please enter your country" id="country" disabled="true">';
                        htmlData += '<option value="">- Choose Country -</option></select></div></div>';

                        htmlData += '<div class="control-group form-group" style="padding-left: 10px;">';
                        htmlData += '<div class="controls"><label>Region</label>';
                        htmlData += '<select name="region" class="form-control" required data-validation-required-message="Please enter your region" id="region">';
                        htmlData += '<option value="">- Choose Region -</option></select></div></div> ';

                        htmlData += '<div class="control-group form-group" style="padding-left: 10px;">';
                        htmlData += '<div class="controls"><label>City</label>';
                        htmlData += '<select name="city" class="form-control" required data-validation-required-message="Please enter your city" id="city">';
                        htmlData += '<option value="">- Choose City -</option></select></div></div> ';

                        htmlData += '<div class="control-group form-group" style="padding-left: 10px;">';
                        htmlData += '<div class="controls">';
                        htmlData += '<label>Post Code</label>';
                        htmlData += '<input type="text" class="form-control" id="postcode" name="postcode" required data-validation-required-message="Please enter post code." value="'+data.data.postcode+'">';
                        htmlData += '<p class="help-block"></p></div></div>';

                        htmlData += '<div style="clear: both;"></div>';
                        htmlData += '<div id="success"></div></div>';
                        htmlData += '<center style="margin-bottom: 30px;"><button class="btn btn-primary" id="btn-send" style="margin-right: 10px;">Update</button><a href="address-book.html"><button class="btn btn-primary" id="btn-send">Back</button></a></center>';
                        $("#add").html(htmlData);
                    });
                });
            });
        }

        function deleteAlamat(address_id){
            //alert(address_id);
            swal({
                title: "Are you sure?",
                text: "Are you want delete this address?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDirect) => {
                jQuery.get('scid.txt', function(value) {
                var obj = JSON.parse(value);
                    if (willDirect) {
                        $.post("https://build.web.id/api/customers/deleteAddress/",{
                            "client_id": obj.cid,
                            "service_id": obj.layanan_id,
                            "address_id": address_id
                        },
                        function(data){
                            swal("Success", data.msg, "success")
                            .then((value) => {
                                window.location.href = "address-book.html";
                            });
                        });
                    } else {
                        swal("Your address info safe!");
                    }
                });
            });
        }

        function addAlamat(){
            $.post('getdata.php',function(customer_id){
                jQuery.get('scid.txt', function(value) {
                    var obj = JSON.parse(value);
                    var htmlData = '';

                        $.post("https://build.web.id/api/customers/getCountry/",{
                            client_id: obj.cid,
                            service_id: obj.layanan_id
                        },
                        function(data,status){
                            var len = data.data.length;
                            for (var i = 0; i < len; i++) {
                                if(data.data[i]['country_id']==100){
                                    var select = 'selected';
                                }else{
                                    var select = '';
                                }
                                $('#country').append("<option value="+data.data[i]['country_id']+" "+select+">"+data.data[i]['name']+"</option>");
                            }

                            //get select prov
                            $.post("https://build.web.id/api/Qwords_Shipping/getProvince/",{
                                client_id: obj.cid,
                                service_id: obj.layanan_id
                            },
                            function(data){
                                var len = data.data.length;
                                for (var i = 0; i < len; i++) {
                                    $('#region').append("<option value="+data.data[i]['province_id']+">"+data.data[i]['province']+"</option>");
                                }
                            });

                            $('#region').change(function(){
                                var province_id = $('#region').val();
                                //get select region
                                $.post("https://build.web.id/api/Qwords_Shipping/getCityOfProvince/",{
                                    client_id: obj.cid,
                                    service_id: obj.layanan_id,
                                    province: province_id
                                },
                                function(data,status){
                                    var len = data.data.length;
                                    $('#city').empty();
                                    for (var i = 0; i < len; i++) {
                                        $('#city').append("<option value="+data.data[i]['city_id']+">"+data.data[i]['type']+" "+data.data[i]['city_name']+"</option>");
                                    }
                                });
                            });

                            $('#btn-add-address').click(function(){
                                var first_name = $('#first_name').val();
                                var last_name = $('#last_name').val();
                                var company = $('#company').val();
                                var address = $('#address_1').val();
                                var city = $('#city').val();
                                var postcode = $('#postcode').val();
                                var country_id = $('#country').val();
                                var zone_id = $('#region').val();

                                $.post("https://build.web.id/api/customers/addAddressCustomer/",{
                                    "client_id": obj.cid,
                                    "service_id": obj.layanan_id,
                                    "customer_id": customer_id,
                                    "firstname_ad": first_name,
                                    "lastname_ad": last_name,
                                    "company_ad": company,
                                    "address_ad": address,
                                    "city_ad": city,
                                    "postalcode_ad": postcode,
                                    "country_ad": country_id,
                                    "region_ad": zone_id
                                },
                                function(data){
                                    if(data.status==false){
                                        swal("Warning!", data.msg, "error")
                                    }else{
                                        swal("Success", data.msg, "success")
                                        .then((value) => {
                                            window.location.href = "address-book.html";
                                        });  
                                    }
                                });
                            });
                        });

                        htmlData += '<h3 style="margin-left: 20px;">Add Address</h3>';
                        htmlData += '<div class="status alert alert-success" style="display: none"></div><div class="col-sm-6">';

                        htmlData += '<div class="form-group">';
                        htmlData += '<label>First Name</label>';
                        htmlData += '<input type="text" class="form-control" id="first_name" name="first_name" required data-validation-required-message="Please enter your first name." value="">';
                        htmlData += '</div>';

                        htmlData += '<div class="form-group">';
                        htmlData += '<label>Last Name</label>';
                        htmlData += '<input type="text" class="form-control" id="last_name" name="last_name" required data-validation-required-message="Please enter your last name." value="">';
                        htmlData += '</div>';

                        htmlData += '<div class="form-group">';
                        htmlData += '<label>Company</label>';
                        htmlData += '<input type="text" class="form-control" id="company" name="company" required data-validation-required-message="Please enter your company." value="">';
                        htmlData += '</div>';

                        htmlData += '<div class="form-group">';
                        htmlData += '<label>Address</label>';
                        htmlData += '<input type="text" class="form-control" id="address_1" name="address_1" required data-validation-required-message="Please enter address 1." value="">';
                        htmlData += '</div>';

                        htmlData += '</div><div class="col-sm-6">';

                        htmlData += '<div class="form-group">';
                        htmlData += '<label>Country</label>';
                        htmlData += '<select name="country" class="form-control" required data-validation-required-message="Please enter your country" id="country" disabled="true">';
                        htmlData += '<option value="">- Choose Country -</option></select></div>';

                        htmlData += '<div class="form-group">';
                        htmlData += '<div class="controls"><label>Region</label>';
                        htmlData += '<select name="region" class="form-control" required data-validation-required-message="Please enter your region" id="region">';
                        htmlData += '<option value="">- Choose Region -</option></select></div></div>';

                        htmlData += '<div class="form-group">';
                        htmlData += '<div class="controls"><label>City</label>';
                        htmlData += '<select name="city" class="form-control" required data-validation-required-message="Please enter your city" id="city">';
                        htmlData += '<option value="">- Choose City -</option></select></div></div>';

                        htmlData += '<div class="form-group">';
                        htmlData += '<label>Post Code</label>';
                        htmlData += '<input type="text" class="form-control" id="postcode" name="postcode" required data-validation-required-message="Please enter post code." value="">';
                        htmlData += '</div></div>';

                        htmlData += '<div style="clear: both;"></div>';
                        htmlData += '<div id="success"></div></div>';
                        htmlData += '<center style="margin-bottom: 30px;"><button class="btn btn-primary" id="btn-add-address" style="margin-right: 10px;">Tambah</button><a href="address-book.html"><button class="btn btn-primary" id="btn-send">Back</button></a></center>';
                        $("#add").html(htmlData);
                });
            });
        }
    </script>
</body>
</html>
