<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>Web Builder Template</title>

	<link rel="shortcut icon" href="assets/images/favicon.png">

	<!-- Bootstrap -->
	<link href="assets/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="assets/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- Custom styles -->
	<link rel="stylesheet" href="assets/css/styles.css">

	<!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
</head>
<body>

<header id="header">
	<div id="head" class="parallax qw-section" parallax-speed="2">
		<h1 id="logo" class="text-center" style="color: white;">
			<span class="title">Contact Us</span>
			<span class="tagline">Example Tagline<br>
				<a href="#">example.blabla@example.com</a></span>
		</h1>
	</div>
	<nav class="navbar navbar-default navbar-sticky" style="margin-bottom: 0px">
		<div class="container-fluid">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>

			<div class="navbar-collapse collapse">

				<ul class="nav navbar-nav qw-list-item">
					<li><a href="index.html">Home</a></li>
					<li><a href="profile.html">Profile</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="product.html">Product</a></li>
					<li><a href="gallery.html">Gallery</a></li>
					<li class="qw-list-default"><a href="default.html">Default</a></li>
					<li class="dropdown active">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-account>Account<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="sign-up.html">Sign Up</a></li>
							<li><a href="login.html">Login</a></li>
						</ul>
					</li>
					<li class="dropdown active">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-login>My Account<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="account.html">My Account</a></li>
							<li><a href="change-pass.html">Change Password</a></li>
							<li><a href="address-book.html">Address Book</a></li>
							<li><a href="view-cart.html">List Cart</a></li>
							<li><a href="whistlist.html">Whist List</a></li>
							<li><a href="order-history.html">Order History</a></li>
							<li><a href="rewards-points.html">Rewards Points</a></li>
							<li><a href="transactions.html">Transactions</a></li>
						</ul>
					</li>
				</ul>

			</div><!--/.nav-collapse -->
		</div>
	</nav>
</header>

<main id="main">

	<section class="row topspace" id="contact-map">
		<div class="container">
			<div class="col-sm-12" id="parent">
		    	<div class="col-sm-6">
		    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63373.805618090875!2d107.58251428948299!3d-6.906998722315637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e6fa48d416ff%3A0x1e23ca648146cf10!2sPT.QWORDS+COMPANY+INTERNATIONAL!5e0!3m2!1sen!2sid!4v1503028374380" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
		    	</div>

		    	<div class="col-sm-6">
		    		<form action="form.php" class="contact-form" method="post">
			
				        <div class="form-group">
				          <input type="text" class="form-control" id="name" name="nm" placeholder="Name" required="" autofocus="">
				        </div>
				    
				    
				        <div class="form-group form_left">
				          <input type="email" class="form-control" id="email" name="em" placeholder="Email" required="">
				        </div>
				    
				      <div class="form-group">
				           <input type="text" class="form-control" id="phone" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" placeholder="Mobile No." required="">
				      </div>
				      <div class="form-group">
				      <textarea class="form-control textarea-contact" rows="5" id="comment" name="FB" placeholder="Type Your Message/Feedback here..." required=""></textarea>
				      <br>
			      	  <button class="btn btn-primary"> <span class="glyphicon glyphicon-send"></span> Send </button>
				      </div>
		     		</form>
		    	</div>
		    </div>
		</div>
	</section>

	<section class="row topspace" id="contact-us">
		<div class="container">
        <!-- Boxes de Acoes -->
	    	<div class="col-xs-12 col-sm-6 col-lg-4">
				<div class="box">							
					<div class="icon">
						<div class="image" style="padding-left: 18px;"><i class="fa fa-envelope" aria-hidden="true"></i></div>
						<div class="info">
							<h3 class="title">MAIL & WEBSITE</h3>
							<p>
								<i class="fa fa-envelope" aria-hidden="true"></i>  info@example.com
								<br>
								<br>
								<i class="fa fa-globe" aria-hidden="true"></i>  www.example.com
							</p>
						
						</div>
					</div>
					<div class="space"></div>
				</div> 
			</div>
				
	        <div class="col-xs-12 col-sm-6 col-lg-4">
				<div class="box">							
					<div class="icon">
						<div class="image" style="padding-left: 28px;"><i class="fa fa-mobile" aria-hidden="true"></i></div>
						<div class="info">
							<h3 class="title">CONTACT</h3>
	    					<p>
								<i class="fa fa-mobile" aria-hidden="true"></i>  +622152905148
								<br>
								<br>
								<i class="fa fa-mobile" aria-hidden="true"></i>  +622152905148 
							</p>
							
						</div>
					</div>
					<div class="space"></div>
				</div> 
			</div>
				
	        <div class="col-xs-12 col-sm-6 col-lg-4">
				<div class="box">							
					<div class="icon">
						<div class="image" style="padding-left: 26px;"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
						<div class="info">
							<h3 class="title">ADDRESS</h3>
	    					<p>
								 <i class="fa fa-map-marker" aria-hidden="true"></i>  Jl. Coblong Selatan, Bandung
							</p>
						</div>
					</div>
					<div class="space"></div>
				</div> 
			</div>		    
			<!-- /Boxes de Acoes -->
			
			<!--My Portfolio  dont Copy this -->
		</div>	<!-- /container -->
	</section>
	

</main>

<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">
					<p>+622152905148<br>
						<a href="mailto:#">example.blabla@example.com</a><br>
						<br>
						Jl. Coblong Selatan Bandung
					</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Follow me</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
						<a href="#"><i class="fa fa-twitter fa-2"></i></a>
						<a href="#"><i class="fa fa-dribbble fa-2"></i></a>
						<a href="#"><i class="fa fa-github fa-2"></i></a>
						<a href="#"><i class="fa fa-facebook fa-2"></i></a>
					</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Text widget</h3>
				<div class="widget-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Form widget</h3>
				<div class="widget-body">
					<p>+622152905148<br>
						<a href="mailto:#">example.blabla@example.com</a><br>
						<br>
						Jl. Coblong Selatan Bandung
					</p>
				</div>
			</div>
		</div> <!-- /row of widgets -->
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 widget">
				<div class="widget-body">
					<p>BDG JUARA </p>
				</div>
			</div>
			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Copyright &copy; 2017, Web Builder Template<br>
						Design: <a href="#" rel="designer">Web Builder Template</a> </p>
				</div>
			</div>
		</div> <!-- /row of widgets -->
	</div>
</footer>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="fa fa-arrow-up"></span></a>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/template.js"></script>
</body>
</html>
