<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>Web Builder Template</title>

	<link rel="shortcut icon" href="assets/images/favicon.png">

	<!-- Bootstrap -->
	<link href="assets/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="assets/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- Custom styles -->
	<link rel="stylesheet" href="assets/css/styles.css">

	<!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
</head>
<body>

<header id="header">
	<div id="head" class="parallax qw-section" parallax-speed="2">
		<h1 id="logo" class="text-center" style="color: white;">
			<span class="title">Our Product</span>
			<span class="tagline">Example Tagline<br>
				<a href="#">example.blabla@example.com</a></span>
		</h1>
	</div>
	<nav class="navbar navbar-default navbar-sticky" style="margin-bottom: 0px">
		<div class="container-fluid">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>

			<div class="navbar-collapse collapse">

				<ul class="nav navbar-nav qw-list-item">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="product.html">Product</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li class="qw-list-default"><a href="default.html">Default</a></li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-account>Account<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="sign-up.html">Sign Up</a></li>
                            <li><a href="login.html">Login</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-login>My Account<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="account.html">My Account</a></li>
                            <li><a href="change-pass.html">Change Password</a></li>
                            <li><a href="address-book.html">Address Book</a></li>
                            <li><a href="view-cart.html">List Cart</a></li>
                            <li><a href="whistlist.html">Whist List</a></li>
                            <li><a href="order-history.html">Order History</a></li>
                            <li><a href="rewards-points.html">Rewards Points</a></li>
                            <li><a href="transactions.html">Transactions</a></li>
                        </ul>
                    </li>
                </ul>

			</div><!--/.nav-collapse -->
		</div>
	</nav>
</header>

<main id="main">
	<section class="row bottom" id="product">
		<div class="container" data-container>
				<style>
                    [data-default] {
                        display: none;
                    }

                    [data-delete] {
                        float: right;
                    }
                </style>
	        <div class="col-md-4" data-item data-default>
	            <div class="product-item">
	              <div class="pi-img-wrapper" style="position: relative; width: 100%; height:200px;">
	                <img src="http://placehold.it/600x550" class="img-responsive" alt="Berry Lace Dress" data-image style="max-height: 200px">
	                <div>
	                  <a href="#" class="btn">View</a>
	                </div>
	              </div>
	              <h3><a href="shop-item.html" data-title>Berry Lace Dress</a></h3>
	              <div class="pi-price" data-price>$29.00</div>
	              <template data-pid></template>
                  <div class="right" style="float: right;">
                      <button data-add="" class="btn btn-white btn-primary" style="background-color: cornflowerblue;"><i class="fa fa-shopping-cart ui-droppable"></i></button>
    	              <button class="btn btn-primary" data-delete ><i class="fa fa-trash ui-droppable"></i></button>
                  </div>
	            </div>
	        </div>
	    </div>
	</section>
</main>

<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">
					<p>+622152905148<br>
						<a href="mailto:#">example.blabla@example.com</a><br>
						<br>
						Jl. Coblong Selatan Bandung
					</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Follow me</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
						<a href="#"><i class="fa fa-twitter fa-2"></i></a>
						<a href="#"><i class="fa fa-dribbble fa-2"></i></a>
						<a href="#"><i class="fa fa-github fa-2"></i></a>
						<a href="#"><i class="fa fa-facebook fa-2"></i></a>
					</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Text widget</h3>
				<div class="widget-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Form widget</h3>
				<div class="widget-body">
					<p>+622152905148<br>
						<a href="mailto:#">example.blabla@example.com</a><br>
						<br>
						Jl. Coblong Selatan Bandung
					</p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
    <div class="container">
		<div class="row">

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p>BDG JUARA </p>
				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Copyright &copy; 2017, Web Builder Template<br>
						Design: <a href="#" rel="designer">Web Builder Template</a> </p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="fa fa-arrow-up"></span></a>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/template.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $(function () {
            loadWishList()
            getCustomerById()
        })

        function getClientServiceID() {
            return $.post('scid.txt')
            .then(res => {
                return JSON.parse(res)
            })
        }

        async function getCustomerById() {
            let scid = await getClientServiceID()
              customer_id = await getCostumerID()
            
            if(customer_id){
                return $.post('https://build.web.id/api/customers/getCustomerdatabyId/', {
                  client_id: scid.cid,
                  service_id: scid.layanan_id,
                  customer_id: customer_id
                }).then(res => {
                    $('[data-login]').html(res.data.firstname+' '+res.data.lastname+' <b class="caret"></b>')
                    $('[data-account]').hide()
                })
            }else{
                $('[data-login]').hide()
                $('[data-account]').show()

                swal("Anda belum login!", "Silahkan login terlebih dahulu!", "info")
                .then((value) => {
                    window.location.href = "login.html";
                });
            }
        }

        async function getWhistlist() {
            let
                scid = await getClientServiceID(),
                cid = window.atob(scid.cid),
                sid = window.atob(scid.layanan_id),
                co_id = await getCostumerID()

            return $.post('https://build.web.id/api/wishlist/data/', {
                    client_id: cid,
                    service_id: sid,
                    customer_id: co_id, // Todo Ganti nanti ya
                })

                .then(res => {
                    if(res.count==0){
                        $('[data-default]').show()
                        $('[data-default]').html('<div class="panel panel-default"><div class="panel-heading"><h3 class="panel-title">Whistlist</h3></div><div class="panel-body">Belum ada product dalam whistlist anda</div></div>')
                        $('[data-default]').removeClass()
                        $('[data-default]').addClass('col-md-12 col-sm-12')
                    }else{
                       return res.data 
                    }
                })

                .fail(res => {
                    console.log(res.responseText)
                })
        }

        async function saveCart(product_id) {
            let
                scid = await getClientServiceID(),
                cid = window.atob(scid.cid),
                sid = window.atob(scid.layanan_id),
                pid = parseInt(product_id),
                customer_id = await getCostumerID()

            if(customer_id){
                $.post('https://build.web.id/api/cart/add/', {
                    client_id: cid,
                    service_id: sid,
                    customer_id: customer_id,
                    product_id: pid,
                }, function (res, status) {
                    if(res.status==false){
                        swal("Product not found!", "Silahkan pilih product!", "info")
                        .then((value) => {
                          window.location.href = "product.html";
                        });
                    }else{
                       swal("Cart add!", "Successfully Add To Cart!", "success") 
                    }
                }).fail(res => {
                    console.log(res.responseText)
                })

                //remove product from whistlist
                removeProductCart(cid, sid, customer_id, product_id)
            }else{
                swal("Anda belum login!", "Silahkan login terlebih dahulu!", "info")
                .then((value) => {
                    window.location.href = "login.html";
                });
            }
        }

        async function loadWishList() {
            let
                wishLists = await getWhistlist(),
                scid = await getClientServiceID(),
                cid = window.atob(scid.cid),
                sid = window.atob(scid.layanan_id),
                co_id = await getCostumerID(),
                set_setting = await getConfigCurrency(scid.cid, scid.layanan_id)

            // load to html

            wishLists.forEach(wishlist => {
                let
                    clone = $('[data-default]').clone(),
                    modified_clone = clone.removeAttr("data-default")

                let
                    image = wishlist.product.image,
                    title = wishlist.product.name,
                    price = wishlist.product.price,
                    pid = wishlist.product_id

                    if(set_setting.code=='IDR'){
                        price = parseInt(price).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
                    }else{
                        price = (price/set_setting.value).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
                    }

                modified_clone.find('[data-image]').attr('src', image)
                modified_clone.find('[data-title]').html(title)
                //modified_clone.find('[data-price]').text(price)
                modified_clone.find('[data-price]').text(set_setting.symbol_left+' '+price)
                modified_clone.find('[data-pid]').text(pid)
                modified_clone.find('[data-add]').attr('onclick','saveCart('+wishlist.product_id+')');

                $('[data-container]').append(modified_clone)
            })

            $('[data-delete]').click(e => {
                let
                    container = $(e.target).closest('[data-item]'),
                    pid = container.find('[data-pid]').text()

                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will remove this product?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDirect) => {
                    if (willDirect) {
                        if(co_id){
                            var req = $.post('https://build.web.id/api/wishlist/remove/', {
                                "client_id": cid,
                                "service_id": sid,
                                "customer_id": co_id, // Todo Ganti nanti ya
                                "product_id": pid,
                            }, function (res) {
                                swal("Poof! Your product has been deleted!", {
                                  icon: "success",
                                }).then((value) => {
                                    window.location.href = "whistlist.html";
                                });
                            })
                        }else{
                            swal("Anda belum login!", "Silahkan login terlebih dahulu!", "info")
                            .then((value) => {
                                window.location.href = "login.html";
                            });
                        }
                    } else {
                        swal("Your product is safe!");
                    }
                });
            })

            $('[data-update]').click(e => {

                let
                    container = $(e.target).closest('[data-item]'),
                    pid = container.find('[data-pid]').text(),
                    stock = container.find('[data-stock]').val(),
                    qty = stock



                var req = $.post('https://build.web.id/api/cart/update/', {

                    "client_id": cid,
                    "service_id": sid,
                    "customer_id": co_id, // Todo Ganti nanti ya
                    "product_id": pid,
                    "quantity": stock


                }, function (res) {
                    console.log(res)
                    alert(res.message)
                })

            })


            async function requestCart(e, action) {
                let
                    container = $(e.target).closest('[data-item]'),
                    pid = container.find('[data-pid]').text(),
                    scid = await getClientServiceID(),
                    cid = window.atob(scid.cid),
                    sid = window.atob(scid.layanan_id),
                    qty = 0,
                    co_id = await getCostumerID(),
                    msg = ""


                switch (action) {
                    case "delete":
                        qty = 0
                        msg = "Deleted"
                        break;

                    case "update":
                        let stock = container.find('[data-stock]').val()
                        qty = stock
                        msg = "Updated"
                        break;

                    default:
                        qty = 0
                        msg = "none"
                        break;
                }

                let data = {

                    "client_id": cid,
                    "service_id": sid,
                    "customer_id": co_id, // Todo Ganti nanti ya
                    "product_id": pid,
                    "quantity": qty,

                }


                // do request
                var req = $.post('https://build.web.id/api/cart/add/', data, function (res) {
                    alert("Product " + msg)
                    //location.reload()
                })
            }

        }

        function getCostumerID() {
            return $.post('getdata.php')
                .then(res => {
                    return res
                })
        }

        function getConfigCurrency(cid, sid){
            return $.post('https://build.web.id/api/setting/getLocalSetting/', {
                client_id: cid,
                service_id: sid
            }).then(res => {
                return res.data.config_currency
            })
        }

        function removeProductCart(cid, sid, customer_id, product_id){
            return $.post('https://build.web.id/api/wishlist/remove/', {
                client_id: cid,
                service_id: sid,
                customer_id: customer_id,
                product_id: product_id
            }).then(res => {
                window.location.href = "view-cart.html";
            })
        }
    </script>
    
</body>
</html>
