<!DOCTYPE html>
<html lang="en">

<head>
    <!-- METAS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- TITLE -->
    <title>Builder Template</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="images/favicon.png"/>

    <!-- LOAD MAIN CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <!-- LOAD COLOR STYLE (OPTONAL) CSS -->
    <link href="css/lunar.css" rel="stylesheet" type="text/css" id="colorstyle">

    <!-- LOAD CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet" type="text/css">

</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <i class="fa fa-spinner fa-spin preloader-animation" aria-hidden="true"></i>
    </div>
    <!-- Preloader End -->
    
    
        <!-- HEADER START -->
        <!--section id="header"-->
        <!-- Fixed navbar -->
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="images/logo.png" alt="Edura - Multipurpose Website Template">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav qw-list-item">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="product.html">Product</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li class="active"><a href="bonus.html">Bonus</a></li>
                        <li class="qw-list-default"><a href="default.html">Default</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-account>Account <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="sign-up.html">Sign Up</a></li>
                                <li><a href="login.html">Login</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-login>My Account</a>
                            <ul class="dropdown-menu">
                                <li><a href="account.html">My Account</a></li>
                                <li><a href="change-pass.html">Change Password</a></li>
                                <li><a href="address-book.html">Address Book</a></li>
                                <li><a href="view-cart.html">List Cart</a></li>
                                <li><a href="whistlist.html">Whist List</a></li>
                                <li><a href="order-history.html">Order History</a></li>
                                <li><a href="rewards-points.html">Rewads Points</a></li>
                                <li><a href="transaction.html">Transaction</a></li>
                                <li><a href="logout.php">Logout</a></li>
                            </ul>
                        </li>
                        <li><a href="view-cart.html"><i class="fa fa-shopping-cart"></i> (<span count-cart>0</span>)</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </header>
        <!--/section-->
        <!-- HEADER END -->

    <!-- WRAPPER START -->
    <div id="wrapper">
        <!-- PAGE TITLE START -->
        <section id="title" class="container-fluid wow fadeInDown">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <h1>Bonus</h1>
                    </div>
                    <div class="col-xs-6 text-right breadcrumbs">
                        <ul class="list-inline list-unstyled">
                            <li><a href="index.html">Home</a></li>
                            <li>/</li>
                            <li>Bonus</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- PAGE TITLE END -->


        <!-- CONTENT START -->
        <section id="pricing-1">

            <div id="pricing-1" class="container padding35 wow fadeIn">
                <h3 class="text-uppercase text-center padding35 padding-top0">Pricing Style</h3>
                <div class="row qw-list-item">

                    <div class="col-md-3">
                        <div class="price">
                            <div class="top">
                                <h1>$9<sup>.99</sup></h1>
                                <h4 class="text-uppercase text-bold">- Bronze -</h4>
                            </div>
                            <div class="middle">
                                <ul class="list-unstyled">
                                    <li class="first"><b>2</b> Core CPU</li>
                                    <li><b>10GB</b> Disk Space</li>
                                    <li><b>10</b> Email Accounts</li>
                                    <li><b>1</b> Hosted Domain</li>
                                    <li><b>Unlimited</b> Subdomains</li>
                                </ul>
                            </div>
                            <div class="bottom">
                                <button type="button" class="btn btn-default">Sign Up</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="price featured">
                            <div class="top">
                                <h1>$19<sup>.99</sup></h1>
                                <h4 class="text-uppercase text-bold">- Silver -</h4>
                            </div>
                            <div class="middle">
                                <ul class="list-unstyled">
                                    <li class="first"><b>2</b> Core CPU</li>
                                    <li><b>10GB</b> Disk Space</li>
                                    <li><b>10</b> Email Accounts</li>
                                    <li><b>1</b> Hosted Domain</li>
                                    <li><b>Unlimited</b> Subdomains</li>
                                </ul>
                            </div>
                            <div class="bottom">
                                <button type="button" class="btn btn-primary">Sign Up</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="price">
                            <div class="top">
                                <h1>$29<sup>.99</sup></h1>
                                <h4 class="text-uppercase text-bold">- Gold -</h4>
                            </div>
                            <div class="middle">
                                <ul class="list-unstyled">
                                    <li class="first"><b>2</b> Core CPU</li>
                                    <li><b>10GB</b> Disk Space</li>
                                    <li><b>10</b> Email Accounts</li>
                                    <li><b>1</b> Hosted Domain</li>
                                    <li><b>Unlimited</b> Subdomains</li>
                                </ul>
                            </div>
                            <div class="bottom">
                                <button type="button" class="btn btn-default">Sign Up</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="price">
                            <div class="top">
                                <h1>$39<sup>.99</sup></h1>
                                <h4 class="text-uppercase text-bold">- Platinum -</h4>
                            </div>
                            <div class="middle">
                                <ul class="list-unstyled">
                                    <li class="first"><b>2</b> Core CPU</li>
                                    <li><b>10GB</b> Disk Space</li>
                                    <li><b>10</b> Email Accounts</li>
                                    <li><b>1</b> Hosted Domain</li>
                                    <li><b>Unlimited</b> Subdomains</li>
                                </ul>
                            </div>
                            <div class="bottom">
                                <button type="button" class="btn btn-default">Sign Up</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 qw-list-default">
                        <div class="price">
                            <div class="top">
                                <h1>$39<sup>.99</sup></h1>
                                <h4 class="text-uppercase text-bold">- Platinum -</h4>
                            </div>
                            <div class="middle">
                                <ul class="list-unstyled">
                                    <li class="first"><b>2</b> Core CPU</li>
                                    <li><b>10GB</b> Disk Space</li>
                                    <li><b>10</b> Email Accounts</li>
                                    <li><b>1</b> Hosted Domain</li>
                                    <li><b>Unlimited</b> Subdomains</li>
                                </ul>
                            </div>
                            <div class="bottom">
                                <button type="button" class="btn btn-default">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="services-1">
            <div id="services-1" class="container padding35">
                <div class="row">

                    <div class="col-md-9 wow fadeInLeft">

                        <h3 class="text-uppercase">Frequently Asked <b>Questions</b></h3>
                        <p class="lead">Find all the answers you need</p>
                        <div class="space20"></div>

                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Lorem ipsum dolor sit amet
                                            <span class="pull-right"><i class="fa fa-question-circle"></i></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Ut enim ad minim veniam
                                            <span class="pull-right"><i class="fa fa-question-circle"></i></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Sed do eiusmod tempor incididunt ut labore
                                            <span class="pull-right"><i class="fa fa-question-circle"></i></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Lorem ipsum dolor sit amet
                                            <span class="pull-right"><i class="fa fa-question-circle"></i></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Ut enim ad minim veniam
                                            <span class="pull-right"><i class="fa fa-question-circle"></i></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Sed do eiusmod tempor incididunt ut labore
                                            <span class="pull-right"><i class="fa fa-question-circle"></i></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse6" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Lorem ipsum dolor sit amet
                                            <span class="pull-right"><i class="fa fa-question-circle"></i></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse7" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Ut enim ad minim veniam
                                            <span class="pull-right"><i class="fa fa-question-circle"></i></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse8" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">Sed do eiusmod tempor incididunt ut labore
                                            <span class="pull-right"><i class="fa fa-question-circle"></i></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse9" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="sidebar" class="col-md-3 wow fadeIn">
                        <div class="widget widget-support bg-dark">
                            <img alt="" class="img-responsive" src="images/photos1.jpg">
                            <div class="inner">
                                <h4 class="text-uppercase">Need More Support?</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- <section id="services-2" class="bg-gray">
            <div id="services-2" class="container-fluid padding35">
                <div class="container">
                    <div class="row wow fadeIn">
                        <div class="col-md-12">
                            <h3 class="text-uppercase">More <b>Features</b></h3>
                        </div>
                    </div>
                    <div class="row wow fadeIn">

                        <div class="col-md-4">
                            <div class="feature">
                                <i class="fa fa-bar-chart"></i>
                                <h4 class="text-uppercase">Responsive Design</h4>
                                <p>Pellentesque habitant morbi tristique senectus et netus et.</p>
                            </div>
                            <div class="feature">
                                <i class="fa fa-star"></i>
                                <h4 class="text-uppercase">Multiple Layouts</h4>
                                <p>Pellentesque habitant morbi tristique senectus et netus et.</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="feature">
                                <i class="fa fa-mobile"></i>
                                <h4 class="text-uppercase">Mobile Friendly</h4>
                                <p>Pellentesque habitant morbi tristique senectus et netus et.</p>
                            </div>
                            <div class="feature">
                                <i class="fa fa-rocket"></i>
                                <h4 class="text-uppercase">Bootstrap Powered</h4>
                                <p>Pellentesque habitant morbi tristique senectus et netus et.</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="feature">
                                <i class="fa fa-support"></i>
                                <h4 class="text-uppercase">Customer Support</h4>
                                <p>Pellentesque habitant morbi tristique senectus et netus et.</p>
                            </div>
                            <div class="feature">
                                <i class="fa fa-bank"></i>
                                <h4 class="text-uppercase">Ready for Business</h4>
                                <p>Pellentesque habitant morbi tristique senectus et netus et.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </section>
        <!-- CONTENT END -->

        <!-- FOOTER START -->
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="images/logo.png" alt="Logo - Web Builder Template"><br><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. <b>Lorem ipsum dolor sit amet, consectetur adipiscing</b>.</p>
                        <br>
                        <ul class="list-unstyled list-inline social-icons">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter twitter"></i></a></li>
                            <li><a href="#" class="googleplus"><i class="fa fa-google-plus googleplus"></i></a></li>
                            <li><a href="#" class="youtube"><i class="fa fa-youtube youtube"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>CONTACT US</h4>
                        <p><i class="fa fa-map-pin fa-fw"></i> Graha Pos Indonesia Lantai 6 C, Jl.Banda no.30, Bandung 40115 -  Indonesia</p>
                        <p><i class="fa fa-phone fa-fw"></i> 0804-1-808-888</p>
                        <p><i class="fa fa-phone fa-fw"></i> +62 21 52905148</p>
                        <p><i class="fa fa-envelope fa-fw"></i> info@qwords.com</p>
                    </div>
                    <div class="col-md-3">
                        <h4>PAGES</h4>
                        <ul class="list-unstyled col-md-6">
                            <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="#">HOME</a></li>
                            <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="#">PROFILE</a></li>
                            <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="#">CONTACT</a></li>
                            <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="#">PRODUCT</a></li>
                        </ul>
                        <ul class="list-unstyled col-md-6">
                            <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="#">GALLERY</a></li>
                            <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="#">BONUS</a></li>
                            <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="#">OTHER</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>NEWSLETTER</h4>
                        <p>Subscribe to our monthly newsletter and stay updated with the latest news and info.</p>
                        <form action="#" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                                    <input type="email" class="form-control" id="email" placeholder="Your Email Address" required>
                                </div>
                            </div>
                            <div class="form-group pull-right">
                                <button type="submit" class="btn btn-primary">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <hr>
                    <div class="col-md-12 text-center bottom">
                        <p>Copyright &copy; 2017 Web Builder. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- FOOTER END -->


    </div>
    <!-- WRAPPER END -->

    <!-- back to top button -->
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>



    <!-- MAIN JS FILES REQUIRED ON ALL PAGES -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="vendor/SmoothScroll/SmoothScroll.min.js"></script>

    <script src="vendor/waypoints/waypoints.min.js"></script>
    <script src="vendor/counterup/jquery.counterup.min.js"></script>


    <!-- HERO SLIDER-->
    <script src="vendor/hero-slider/js/modernizr.js"></script>
    <script src="vendor/hero-slider/js/main.js"></script>

    <!-- OWL CAROUSEL -->
    <script src="vendor/owl-carousel/owl.carousel.js"></script>

    <!-- FILTERIZR -->
    <script src="vendor/jquery/jquery.filterizr.js"></script>

    <!-- EDURA JS REQUIRED ON ALL PAGES-->
    <script src="js/edura.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        jQuery.get('scid.txt', function(value) {
            var obj = JSON.parse(value);
            $.post('getdata.php',function(customer_id){
                if(customer_id){
                    $.post("https://build.web.id/api/customers/getCustomerdatabyId/",{
                        "client_id": obj.cid,
                        "service_id": obj.layanan_id,
                        "customer_id": customer_id
                    },function(data){
                        firstname = data.data.firstname;
                        lastname = data.data.lastname;
                        $('[data-login]').html(firstname+' '+lastname+' <b class="caret"></b>')
                        $('[data-account]').hide()
                    }); 

                    cid = window.atob(obj.cid),
                    sid = window.atob(obj.layanan_id),
                    $.post("https://build.web.id/api/cart/content/",{
                        "client_id": cid,
                        "service_id": sid,
                        "customer_id": customer_id
                    },function(data){
                        $('[count-cart]').text(data.count)
                    });
                }else{
                    $('[data-login]').hide()
                    $('[data-account]').show()
                }
            });
        });
    });
    </script>

</body>
</html>
