	<!-- FOOTER -->
	<footer class="footer footer-classic bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="footer-text">
						<a href="#"><img class="footer-logo" src="http://placehold.it/165x51" alt="footer logo"></a>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation.
						</p>
						<div class="social-icons">
							<a href="#" class="btn btn-social btn-social-o twitter">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="#" class="btn btn-social btn-social-o linkedin">
								<i class="fa fa-linkedin"></i>
							</a>
							<a href="#" class="btn btn-social btn-social-o facebook">
								<i class="fa fa-facebook-f"></i>
							</a>
							<a href="#" class="btn btn-social btn-social-o skype">
								<i class="fa fa-skype"></i>
							</a>
							<a href="#" class="btn btn-social btn-social-o pinterest">
								<i class="fa fa-pinterest-p"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-md-2">
					<div class="links">
						<h3>Links</h3>
						<ul class="">
							<li><a href="#">Home</a></li>
							<li><a href="#">Profile</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Product</a></li>
							<li><a href="#">Gallery</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="location">
						<h3>Location</h3>
						<ul>
							<li>Excepteur sint occaecat cupidat non proident sunt.</li>
							<li><i class="fa fa-home"></i> Jl. Coblong Timur,</li>
							<li><i class="fa fa-phone"></i> <a href="tel:+62 22 20525693">+62 22 20525693</a></li>
							<li><i class="fa fa-envelope"></i> <a href="mailto.html"> info@example.com </a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="instagram">
						<h3>Gallery</h3>
						<ul class="row instagram-image qw-list-item">
							<li class="col-xs-4 col-4"><a href="#"><img src="http://placehold.it/116x75" alt="insta"></a></li>
							<li class="col-xs-4 col-4"><a href="#"><img src="http://placehold.it/116x75" alt="insta"></a></li>
							<li class="col-xs-4 col-4"><a href="#"><img src="http://placehold.it/116x75" alt="insta"></a></li>
							<li class="col-xs-4 col-4"><a href="#"><img src="http://placehold.it/116x75" alt="insta"></a></li>
							<li class="col-xs-4 col-4"><a href="#"><img src="http://placehold.it/116x75" alt="insta"></a></li>
							<li class="col-xs-4 col-4"><a href="#"><img src="http://placehold.it/116x75" alt="insta"></a></li>
							<li class="col-xs-4 col-4 qw-list-default"><a href="#"><img src="http://placehold.it/116x75" alt="insta"></a></li>
						</ul>
					</div>
				</div>

				<!-- COPY RIGHT -->
			</div>
			<div class="copyright">
				<hr>
				<div class="row">
					<div class="col-sm-6 offset-sm-3">
						<div class="copyRight_text text-center">
							<p> &copy; 2017 Copyright Web Builder.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>