	<!-- HEADER -->
	<!--header id="pageTop" class="header"-->
	<!-- NAVBAR -->
	<header>
		<div class="navbar navbar-toggleable-sm main-nav bg-dark-navy">
			<nav class="container qw-section" id="nav-container">
				<button class="navbar-toggler navbar-toggler-right">
					<span class="burger-menu icon-toggle"><i class="fa fa-bars"></i></span>
				</button>
				<a class="navbar-brand" href="index.html"><img src="http://placehold.it/165x65&text=Logo" alt="logo"></a>

				<div class="navbar-collapse">
					<ul class="navbar-nav ml-auto qw-list-item">
						<li class="nav-item">
							<a class="nav-link" href="index.html"><span class="sr-only">(current)</span>Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="profile.html"><span class="sr-only"></span>Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact.html"><span class="sr-only"></span>Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="product.html"><span class="sr-only"></span>Product</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="gallery.html"><span class="sr-only"></span>Gallery</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="bonus.html"><span class="sr-only"></span>Bonus</a>
						</li>
						<li class="nav-item qw-list-default">
							<a class="nav-link" href="gallery.html"><span class="sr-only"></span>Default</a>
						</li>
						<li class="nav-item dropdown drop_single ">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)" data-account>Account <b class="caret"></b></a>
							<ul class="dropdown-menu dd_first">
								<li><a href="sign-up.html">Sign Up</a></li>
								<li><a href="login.html">Login</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown drop_single ">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)" data-login>My Account</a>
							<ul class="dropdown-menu dd_first">
								<li><a href="account.html">My Account</a></li>
								<li><a href="change-pass.html">Change Password</a></li>
								<li><a href="address-book.html">Address Book</a></li>
								<li><a href="view-cart.html">List Cart</a></li>
								<li><a href="whistlist.html">Whist List</a></li>
								<li><a href="order-history.html">Order History</a></li>
								<li><a href="rewards-point.html">Rewards Points</a></li>
								<li><a href="transactions.html">Transaction</a></li>
								<li><a href="logout.php">Logout</a></li>
							</ul>
						</li>
						<!-- header search -->
						<li class="nav-item">
							<a href="#" class="btn-search nav-link"><i class="fa fa-search"></i></a>
							<form  class="search_form">
								<input type="text" name="search" placeholder="Search anything..">
								<button class="btn btn-primary btn-small" type="submit">Search</button>
							</form>
						</li>
					</ul>
				</div>
				<!-- header search ends-->
			</nav><!-- NAVBAR ENDS-->
		</div>
	</header>
	<!--/header-->