<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author"      content="Web Builder Template">

    <title>Web Builder Template</title>

    <link rel="shortcut icon" href="assets/images/favicon.png">

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <!-- Icons -->
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <!-- Fonts -->
    <!--link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css"-->
    <!-- Custom styles -->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
</head>
<body class="home">

<header id="header">
    <div id="head" class="parallax qw-section" parallax-speed="2">
        <!--img src="http://placehold.it/1920x1280"-->
        <h1 id="logo" class="text-center">
            <img class="img-circle" src="http://placehold.it/300x291" alt="">
            <span class="title">Example Company</span>
            <span class="tagline">Example Tagline<br>
                <a href="#">example.blabla@example.com</a></span>
        </h1>
    </div>
</header>

    <nav class="navbar navbar-default navbar-sticky">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav qw-list-item">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="product.html">Product</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Page <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="product-detail.html">Product Detail</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-post.html">Blog Post</a></li>
                        </ul>
                    </li>
                    <li class="qw-list-default"><a href="gallery.html">Default</a></li>
                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </nav>


<main id="main">

    <section class="row section topspace" id="topspace">
        <div class="container">
            <div class="col-md-12">
                <p class="lead text-center text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>
    </section> <!-- / section -->

    <section class="row section featured topspace" id="services">
        <div class="container">
            <h2 class="section-title"><span>Services</span></h2>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <h3 class="text-center">Custom website design</h3>
                    <p>I don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. i did the same thing to gandhi, he didn't eat for three weeks. i once heard a wise man say there are no perfect men.</p>
                    <p class="text-center"><a href="#" class="btn btn-action">Read more</a></p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h3 class="text-center">Wordpress integration</h3>
                    <p>I don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. i did the same thing to gandhi, he didn't eat for three weeks. i once heard a wise man say there are no perfect men.</p>
                    <p class="text-center"><a href="#" class="btn btn-action">Read more</a></p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h3 class="text-center">Application development</h3>
                    <p>I don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. i did the same thing to gandhi, he didn't eat for three weeks. i once heard a wise man say there are no perfect men.</p>
                    <p class="text-center"><a href="#" class="btn btn-action">Read more</a></p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h3 class="text-center">SEO &amp; SEM services</h3>
                    <p>I don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. i did the same thing to gandhi, he didn't eat for three weeks. i once heard a wise man say there are no perfect men.</p>
                    <p class="text-center"><a href="#" class="btn btn-action">Read more</a></p>
                </div>
            </div>
        </div>
    </section> <!-- / section -->

    <section class="row section recentworks topspace" id="recent">
        <div class="container">
            <h2 class="section-title"><span>Recent Works</span></h2>
            <div class="thumbnails recentworks row qw-list-item">

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail" href="#">
                        <span class="img">
                            <img src="http://placehold.it/488x300" alt="">
                            <span class="cover"><span class="more">See details &rarr;</span></span>
                        </span>
                        <span class="title">Sample title - big data solutions</span>
                    </a>
                    <span class="details"><a href="#">Web design</a> | <a href="#">Wordpress</a> | <a href="#">Logotype</a></span>
                    <h4></h4>
                    <p></p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail" href="#">
                        <span class="img">
                            <img src="http://placehold.it/488x300" alt="">
                            <span class="cover"><span class="more">See details &rarr;</span></span>
                        </span>
                        <span class="title">Pure ipsum - development services for people</span>
                    </a>
                    <span class="details"><a href="#">Web design</a> | <a href="#">Wordpress</a></span>
                    <h4></h4>
                    <p></p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail" href="#">
                        <span class="img">
                            <img src="http://placehold.it/488x300" alt="">
                            <span class="cover"><span class="more">See details &rarr;</span></span>
                        </span>
                        <span class="title">Lorem studios - interior and patio design</span>
                    </a>
                    <span class="details"><a href="#">Web design</a> | <a href="#">Logotype</a></span>
                    <h4></h4>
                    <p></p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail" href="#">
                        <span class="img">
                            <img src="http://placehold.it/488x300" alt="">
                            <span class="cover"><span class="more">See details &rarr;</span></span>
                        </span>
                        <span class="title">Pure ipsum - development services for people</span>
                    </a>
                    <span class="details"><a href="#">Web design</a> | <a href="#">Wordpress</a></span>
                    <h4></h4>
                    <p></p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail" href="#">
                        <span class="img">
                            <img src="http://placehold.it/488x300" alt="">
                            <span class="cover"><span class="more">See details &rarr;</span></span>
                        </span>
                        <span class="title">Lorem studios - interior and patio design</span>
                    </a>
                    <span class="details"><a href="#">Web design</a> | <a href="#">Logotype</a></span>
                    <h4></h4>
                    <p></p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail" href="#">
                        <span class="img">
                            <img src="http://placehold.it/488x300" alt="">
                            <span class="cover"><span class="more">See details &rarr;</span></span>
                        </span>
                        <span class="title">Lorem studios - interior and patio design</span>
                    </a>
                    <span class="details"><a href="#">Web design</a> | <a href="#">Logotype</a></span>
                    <h4></h4>
                    <p></p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 qw-list-default">
                    <a class="thumbnail" href="#">
                        <span class="img">
                            <img src="http://placehold.it/488x300" alt="">
                            <span class="cover"><span class="more">See details &rarr;</span></span>
                        </span>
                        <span class="title">Lorem studios - interior and patio design</span>
                    </a>
                    <span class="details"><a href="#">Web design</a> | <a href="#">Logotype</a></span>
                    <h4></h4>
                    <p></p>
                </div>
            </div>
        </div>
    </section> <!-- /section -->

    <section class="row section topspace" id="section">
        <div class="container">
            <div class="panel panel-cta"><div class="panel-body">
                <div class="col-lg-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
                </div>
                <div class="col-lg-4 text-right">
                    <a href="#" class="btn btn-primary btn-download btn-lg">Example Button</a>
                </div>
            </div></div>
        </div>
    </section> <!-- /section -->

    <section class="row section clients topspace" id="clients">
        <div class="container">
            <h2 class="section-title"><span>Clients</span></h2>
            <div class="col-lg-12">
                <p>
                    <img src="http://placehold.it/1060x55" alt="">
                </p>
            </div>
        </div>
    </section> <!-- /section -->

    <section class="row topspace" id="blog-post">
        <div class="container">
            <!-- Article main content -->
            <article class="col-sm-8 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Lorem ipsum dolor sit amet, consectetur.</h1>
                </header>

                <p><img src="http://placehold.it/900x553" alt=""></p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente.</p>
                <h3>Necessitatibus</h3>
                <p>Velit, odit, eius, libero unde impedit quaerat dolorem assumenda alias consequuntur optio quae maiores ratione tempore sit aliquid architecto eligendi pariatur ab soluta doloremque dicta aspernatur labore quibusdam dolore corrupti quod inventore. Maiores, repellat, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p>
                <blockquote>Velit, odit, eius, libero unde impedit quaerat dolorem assumenda alias consequuntur optio quae maiores ratione tempore sit aliquid architecto eligendi pariatur ab soluta doloremque dicta aspernatur labore quibusdam dolore corrupti quod inventore. Maiores, repellat, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</blockquote>
                <p>Velit, odit, eius, libero unde impedit quaerat dolorem assumenda alias consequuntur optio quae maiores ratione tempore sit aliquid architecto eligendi pariatur ab soluta doloremque dicta aspernatur labore quibusdam dolore corrupti quod inventore. Maiores, repellat, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus!</li>
                    <li>Laboriosam, aliquam totam asperiores nam velit voluptatum non quidem.</li>
                    <li>Voluptatem, libero quia voluptatum ab modi facere dolore assumenda?</li>
                    <li>Expedita, officia tenetur doloremque nulla temporibus ab voluptates adipisci.</li>
                    <li>Nostrum, nesciunt, inventore amet temporibus officia perferendis doloremque nulla.</li>
                    <li>Dolorum, ex earum maiores perspiciatis modi sequi odit mollitia.</li>
                </ul>

            </article>
            <!-- /Article -->

            <!-- Sidebar -->
            <aside class="col-md-4 sidebar sidebar-left">

                <div class="widget">
                    <h4>Lorem ipsum dolor sit</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, ratione delectus reiciendis nulla nisi pariatur molestias animi eos repellat? Vel.</p>
                </div>
                <div class="widget">
                    <h4>Lorem ipsum dolor sit</h4>
                    <ul>
                        <li><a href="#">Lorem ipsum </a>dolor sit amet.</li>
                        <li>Nostrum, dolores labore tempore error.</li>
                        <li>Qui esse impedit vitae repellat.</li>
                        <li>Aliquam, laborum corporis molestiae nihil.</li>
                        <li>Voluptate, labore non adipisci nihil!</li>
                    </ul>
                </div>

            </aside>
            <!-- /Sidebar -->
        </div>  <!-- /container -->
    </section>

    <section class="row topspace" id="blog">
        <div class="container">
            <article class="col-sm-8 maincontent">

                <article class="post">
                    <header class="entry-header">
                        <div class="entry-meta">
                            <span class="posted-on"><time class="entry-date published" date="2013-09-27">September 27, 2013</time></span>
                        </div>
                        <h1 class="entry-title"><a href="single.html" rel="bookmark">Hello world!</a></h1>
                    </header>
                    <div class="entry-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, molestias, architecto, adipisci, numquam dolor iusto eos reprehenderit placeat quam debitis quas magni eveniet. Saepe, nam, iste consectetur quae necessitatibus dolores provident veritatis possimus rerum facilis quia dicta itaque sapiente iusto natus quidem magni quibusdam. Explicabo nesciunt vel rem obcaecati reprehenderit eveniet culpa repudiandae. Distinctio, quia, provident illum necessitatibus repellendus rem voluptates exercitationem numquam inventore itaque atque sint nihil eveniet consequuntur eius! Laborum, at sit animi quae quidem ex tempora facilis.</p>
                    </div>
                </article>

                <article class="post">
                    <header class="entry-header">
                        <div class="entry-meta">
                            <span class="posted-on"><time class="entry-date published" date="2013-06-17">June 17, 2013</time></span>
                        </div>
                        <h1 class="entry-title"><a href="single.html" rel="bookmark">Vivamus Lacus Mauris</a></h1>
                    </header>
                    <div class="entry-content">
                        <p><img alt="" src="http://placehold.it/900x600"></p>
                        <p>Mauris eget quam orci. Quisque porta varius dui, quis posuere nibh mollis quis. Mauris commodo rhoncus porttitor. Maecenas et euismod elit. Nulla facilisi. Vivamus lacus libero, ultrices non ullamcorper ac, tempus sit amet enim. Suspendisse at semper ipsum. Suspendisse sagittis diam a massa viverra sollicitudin. Vivamus sagittis est eu diam fringilla nec tristique metus vestibulum. Donec magna purus, pellentesque vel lobortis ut, convallis id augue. Sed odio magna, pellentesque eget convallis ac, vehicula vel arcu. Sed eu scelerisque dui. Sed eu arcu at nibh hendrerit viverra. Vivamus lacus augue, sodales id cursus in, condimentum at risus. <a href="single.html" class="more-link">Continue reading&#8230;</a></p>
                    </div>
                </article><!-- #post-## -->

                <article class="post">
                    <header class="entry-header">
                        <div class="entry-meta">
                            <span class="posted-on"><time class="entry-date published" date="2013-06-17">June 17, 2013</time></span>
                        </div>
                        <h1 class="entry-title"><a href="single.html" rel="bookmark">Vivamus Lacus Mauris</a></h1>
                    </header>
                    <div class="entry-content">
                        <p>Mauris eget quam orci. Quisque porta varius dui, quis posuere nibh mollis quis. Mauris commodo rhoncus porttitor. Maecenas et euismod elit. Nulla facilisi. Vivamus lacus libero, ultrices non ullamcorper ac, tempus sit amet enim. Suspendisse at semper ipsum. Suspendisse sagittis diam a massa viverra sollicitudin. Vivamus sagittis est eu diam fringilla nec tristique metus vestibulum. Donec magna purus, pellentesque vel lobortis ut, convallis id augue. Sed odio magna, pellentesque eget convallis ac, vehicula vel arcu. Sed eu scelerisque dui. Sed eu arcu at nibh hendrerit viverra. Vivamus lacus augue, sodales id cursus in, condimentum at risus.</p>
                    </div>
                </article><!-- #post-## -->

                <article class="post">
                    <header class="entry-header">
                        <div class="entry-meta">
                            <span class="posted-on"><time class="entry-date published" date="2013-04-04">April 4, 2013</time></span>
                        </div>
                        <h1 class="entry-title"><a href="single.html" rel="bookmark">Maecenas Quisque Suspendisse Lorem</a></h1>
                    </header>
                    <div class="entry-content">
                        <p>Mauris eget quam orci. Quisque porta varius dui, quis posuere nibh mollis quis. Mauris commodo rhoncus porttitor. Maecenas et euismod elit. Nulla facilisi. Vivamus lacus libero, ultrices non ullamcorper ac, tempus sit amet enim. Suspendisse at semper ipsum. Suspendisse sagittis diam a massa viverra sollicitudin. Vivamus sagittis est eu diam fringilla nec tristique metus vestibulum. Donec magna purus, pellentesque vel lobortis ut, convallis id augue. Sed odio magna, pellentesque eget convallis ac, vehicula vel arcu. Sed eu scelerisque dui. Sed eu arcu at nibh hendrerit viverra. Vivamus lacus augue, sodales id cursus in, condimentum at risus. <a href="single.html" class="more-link">Continue reading&#8230;</a></p>
                    </div>
                </article><!-- #post-## -->

                <article class="post">
                    <header class="entry-header">
                        <div class="entry-meta">
                            <span class="posted-on"><time class="entry-date published" date="2013-03-20">March 20, 2013</time></span>
                        </div>
                        <h1 class="entry-title"><a href="single.html" rel="bookmark">Pellentesque Eget Convallis</a></h1>
                    </header>
                    <div class="entry-content">
                        <p>Mauris eget quam orci. Quisque porta varius dui, quis posuere nibh mollis quis. Mauris commodo rhoncus porttitor. Maecenas et euismod elit. Nulla facilisi. Vivamus lacus libero, ultrices non ullamcorper ac, tempus sit amet enim. Suspendisse at semper ipsum. Suspendisse sagittis diam a massa viverra sollicitudin. Vivamus sagittis est eu diam fringilla nec tristique metus vestibulum. Donec magna purus, pellentesque vel lobortis ut, convallis id augue. Sed odio magna, pellentesque eget convallis ac, vehicula vel arcu. Sed eu scelerisque dui. Sed eu arcu at nibh hendrerit viverra. Vivamus lacus augue, sodales id cursus in, condimentum at risus. <a href="single.html" class="more-link">Continue reading&#8230;</a></p>
                    </div>
                </article><!-- #post-## -->

                <center class="">
                    <ul class="pagination">
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </center>
            </article>

                <!-- Sidebar -->
            <aside class="col-md-4 sidebar sidebar-left">

                <div class="widget">
                    <h4>Lorem ipsum dolor sit</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, ratione delectus reiciendis nulla nisi pariatur molestias animi eos repellat? Vel.</p>
                </div>
                <div class="widget">
                    <h4>Lorem ipsum dolor sit</h4>
                    <ul>
                        <li><a href="#">Lorem ipsum </a>dolor sit amet.</li>
                        <li>Nostrum, dolores labore tempore error.</li>
                        <li>Qui esse impedit vitae repellat.</li>
                        <li>Aliquam, laborum corporis molestiae nihil.</li>
                        <li>Voluptate, labore non adipisci nihil!</li>
                    </ul>
                </div>

            </aside>
            <!-- /Sidebar -->

        </div>  <!-- /container -->

    </section>

    <section class="row topspace" id="contact-map">
        <div class="container">
            <div class="col-sm-12" id="parent">
                <div class="col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63373.805618090875!2d107.58251428948299!3d-6.906998722315637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e6fa48d416ff%3A0x1e23ca648146cf10!2sPT.QWORDS+COMPANY+INTERNATIONAL!5e0!3m2!1sen!2sid!4v1503028374380" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                <div class="col-sm-6">
                    <form action="form.php" class="contact-form" method="post">
            
                        <div class="form-group">
                          <input type="text" class="form-control" id="name" name="nm" placeholder="Name" required="" autofocus="">
                        </div>
                    
                    
                        <div class="form-group form_left">
                          <input type="email" class="form-control" id="email" name="em" placeholder="Email" required="">
                        </div>
                    
                      <div class="form-group">
                           <input type="text" class="form-control" id="phone" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" placeholder="Mobile No." required="">
                      </div>
                      <div class="form-group">
                      <textarea class="form-control textarea-contact" rows="5" id="comment" name="FB" placeholder="Type Your Message/Feedback here..." required=""></textarea>
                      <br>
                      <button class="btn btn-primary"> <span class="glyphicon glyphicon-send"></span> Send </button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="row topspace" id="contact-us">
        <div class="container">
        <!-- Boxes de Acoes -->
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">                           
                    <div class="icon">
                        <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="info">
                            <h3 class="title">MAIL & WEBSITE</h3>
                            <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>  info@example.com
                                <br>
                                <br>
                                <i class="fa fa-globe" aria-hidden="true"></i>  www.example.com
                            </p>
                        
                        </div>
                    </div>
                    <div class="space"></div>
                </div> 
            </div>
                
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">                           
                    <div class="icon">
                        <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                        <div class="info">
                            <h3 class="title">CONTACT</h3>
                            <p>
                                <i class="fa fa-mobile" aria-hidden="true"></i>  +622152905148
                                <br>
                                <br>
                                <i class="fa fa-mobile" aria-hidden="true"></i>  +622152905148 
                            </p>
                            
                        </div>
                    </div>
                    <div class="space"></div>
                </div> 
            </div>
                
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">                           
                    <div class="icon">
                        <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div class="info">
                            <h3 class="title">ADDRESS</h3>
                            <p>
                                 <i class="fa fa-map-marker" aria-hidden="true"></i>  Jl. Coblong Selatan, Bandung
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div> 
            </div>          
            <!-- /Boxes de Acoes -->
            
            <!--My Portfolio  dont Copy this -->
        </div>  <!-- /container -->
    </section>

    <section id="gallery" style="padding-top: 30px">
        <div class="container">
            <div class="row bottom">  
                <div class="col-xs-12">
                    <button class="btn btn-small btn-primary" data-toggle="portfilter" data-target="all">
                        All
                    </button>
                    <button class="btn btn-small btn-primary" data-toggle="portfilter" data-target="art">
                        Websites
                    </button>
                    <button class="btn btn-small btn-primary" data-toggle="portfilter" data-target="media">
                        Brochures
                    </button>
                    <button class="btn btn-small btn-primary" data-toggle="portfilter" data-target="brand">
                        Logo design
                    </button>
                </div>
            </div>  

            <div class="row bottom">
                <div class="col-md-4" data-tag='brand'>
                    <img src="http://placehold.it/450x250" class="img-responsive" alt="img">
                </div>
                <div class="col-md-4" data-tag='media'>
                    <img src="http://placehold.it/450x250" class="img-responsive" alt="img">
                </div>
                <div class="col-md-4" data-tag='art'>
                    <img src="http://placehold.it/450x250" class="img-responsive" alt="img">
                </div>

                <div class="col-md-4" data-tag='art'>
                    <img src="http://placehold.it/450x250" class="img-responsive" alt="img">
                </div>
                <div class="col-md-4" data-tag='brand'>
                    <img src="http://placehold.it/450x250" class="img-responsive" alt="img">
                </div>
                <div class="col-md-4" data-tag='media'>
                    <img src="http://placehold.it/450x250" class="img-responsive" alt="img"> 
                </div>
                <div class="col-md-4" data-tag='media'>
                    <img src="http://placehold.it/450x250" class="img-responsive" alt="img">  
                </div>
                <div class="col-md-4" data-tag='brand'>
                    <img src="http://placehold.it/450x250" class="img-responsive" alt="img">
                </div>
                <div class="col-md-4" data-tag='brand'>
                    <img src="http://placehold.it/450x250" class="img-responsive" alt="img">
                </div>
            </div>
        </div>
    </section>

    <section id="product-detail" style="padding-top: 30px">
    <div class="container">
        <div class="row bottom">
            <div class="preview col-md-6">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="http://placehold.it/488x300" alt="Image" style="width:100%;">
                  </div>

                  <div class="item">
                    <img src="http://placehold.it/488x300" alt="Image" style="width:100%;">
                  </div>
                
                  <div class="item">
                    <img src="http://placehold.it/488x300" alt="Image" style="width:100%;">
                  </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="fa fa-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="fa fa-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <div class="details col-md-6">
                <h3 class="product-title">men's shoes fashion</h3>
                <div class="rating">
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <span class="review-no">41 reviews</span>
                </div>
                <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
                <h4 class="price">current price: <span>$180</span></h4>
                <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                
                <div class="action">
                    <button class="btn btn-primary" type="button">add to cart</button>
                </div>
            </div>
        </div>
        <div class="row bottom">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#des" role="tab">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#speci" role="tab">Specification</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="des" role="tabpanel">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, alias veniam. Beatae nisi illum explicabo minima, voluptatem earum alias dolores, laboriosam vitae hic et ducimus optio dicta quasi assumenda necessitatibus, quas rerum enim qui, ab. Magni id omnis tenetur, nulla, error expedita delectus saepe possimus nam fugiat praesentium voluptatem autem!</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                        <div class="tab-pane" id="speci" role="tabpanel">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td><b>Example</b></td>
                                        <td>Example</td>
                                    </tr>
                                    <tr>
                                        <td><b>Example</b></td>
                                        <td>Example</td>
                                    </tr>
                                    <tr>
                                        <td><b>Example</b></td>
                                        <td>Example</td>
                                    </tr>
                                    <tr>
                                        <td><b>Example</b></td>
                                        <td>Example</td>
                                    </tr>
                                    <tr>
                                        <td><b>Example</b></td>
                                        <td>Example</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row bottom" id="product">
        <div class="container">
            <div class="col-md-4">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="http://placehold.it/600x550" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                      <a href="#" class="btn">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="javascript:;" class="btn btn-primary pull-right">Add to cart</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="http://placehold.it/600x550" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                      <a href="#" class="btn">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="javascript:;" class="btn btn-primary pull-right">Add to cart</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="http://placehold.it/600x550" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                      <a href="#" class="btn">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="javascript:;" class="btn btn-primary pull-right">Add to cart</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="http://placehold.it/600x550" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                      <a href="#" class="btn">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="javascript:;" class="btn btn-primary pull-right">Add to cart</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="http://placehold.it/600x550" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                      <a href="#" class="btn">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="javascript:;" class="btn btn-primary pull-right">Add to cart</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="http://placehold.it/600x550" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                      <a href="#" class="btn">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                  <div class="pi-price">$29.00</div>
                  <a href="javascript:;" class="btn btn-primary pull-right">Add to cart</a>
                </div>
            </div>
        </div>
    </section>

    <section class="row" id="our-team" style="padding-top: 30px">
        <div class="container">
            <div class="col-md-12">
                <div class="col-lg-12">
                    <h6 class="description">OUR TEAM</h6>
                    <div class="row pt-md">

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="http://placehold.it/600x700" class="img-responsive">
                                <ul class="text-center">
                                    <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                                    <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                                    <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                                </ul>
                            </div>
                            <h1>Marrie Doi</h1>
                            <h2>Co-founder/ Operations</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="http://placehold.it/600x700" class="img-responsive">
                                <ul class="text-center">
                                    <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                                    <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                                    <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                                </ul>
                            </div>
                            <h1>Christopher Di</h1>
                            <h2>Co-founder/ Projects</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="http://placehold.it/600x700" class="img-responsive">
                                <ul class="text-center">
                                    <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                                    <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                                    <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                                </ul>
                            </div>
                            <h1>Heather H</h1>
                            <h2>Co-founder/ Marketing</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="http://placehold.it/600x700" class="img-responsive">
                                <ul class="text-center">
                                    <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                                    <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                                    <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                                </ul>
                            </div>
                            <h1>John Doe</h1>
                            <h2>Designer</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="row topspace" id="profile-detail">
        <div class="container">
            <!-- Sidebar -->
            <aside class="col-sm-4 sidebar sidebar-right">

                <ul class="nav nav-tabs text-right nav-side">
                    <li class="active"><a data-toggle="tab" href="#ui">UI design</a></li>
                    <li><a data-toggle="tab" href="#frontend">Frontend development</a></li>
                    <li><a data-toggle="tab" href="#backend">Backend development</a></li>
                    <li><a data-toggle="tab" href="#side">Side projects</a></li>
                </ul>

            </aside>
            <!-- /Sidebar -->
            <div class="tab-content">
                <div id="ui" class="tab-pane fade in active">
                    <!-- Article main content -->
                    <article class="col-sm-8 maincontent">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente.</p>
                        <p><img src="http://placehold.it/900x600" alt="" class="" width="100%" ></p>
                        <h3>Necessitatibus</h3>
                        <p>Velit, odit, eius, libero unde impedit quaerat dolorem assumenda alias consequuntur optio quae maiores ratione tempore sit aliquid architecto eligendi pariatur ab soluta doloremque dicta aspernatur labore quibusdam dolore corrupti quod inventore. Maiores, repellat, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p>
                        <h3>Fugit, laboriosam</h3>
                        <p>Eum, quasi, est, vitae, ipsam nobis consectetur ea aspernatur ad eos voluptatibus fugiat nisi perferendis impedit. Quam, nulla, excepturi, voluptate minus illo tenetur sint ab in culpa cumque impedit quibusdam. Saepe, molestias quia voluptatem natus velit fugiat omnis rem eos sapiente quasi quaerat aspernatur quisquam deleniti accusantium laboriosam odio id?</p>
                    </article>
                    <!-- /Article -->
                </div>

                <div id="frontend" class="tab-pane fade">
                    <!-- Article main content -->
                    <article class="col-sm-8 maincontent">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p><img src="http://placehold.it/900x600" alt="" class="" width="100%" ></p>
                        <h3>Necessitatibus</h3>
                        <p>Velit, odit, eius, libero unde impedit quaerat dolorem assumenda alias consequuntur optio quae maiores ratione tempore sit aliquid architecto eligendi pariatur ab soluta doloremque dicta aspernatur labore quibusdam dolore corrupti quod inventore. Maiores, repellat, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p>
                        <h3>Fugit, laboriosam</h3>
                        <p>Eum, quasi, est, vitae, ipsam nobis consectetur ea aspernatur ad eos voluptatibus fugiat nisi perferendis impedit. Quam, nulla, excepturi, voluptate minus illo tenetur sint ab in culpa cumque impedit quibusdam. Saepe, molestias quia voluptatem natus velit fugiat omnis rem eos sapiente quasi quaerat aspernatur quisquam deleniti accusantium laboriosam odio id?</p>
                    </article>
                    <!-- /Article -->
                </div>

                <div id="backend" class="tab-pane fade">
                    <!-- Article main content -->
                    <article class="col-sm-8 maincontent">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p><img src="http://placehold.it/900x600" alt="" class="" width="100%" ></p>
                        <h3>Necessitatibus</h3>
                        <p>Velit, odit, eius, libero unde impedit quaerat dolorem assumenda alias consequuntur optio quae maiores ratione tempore sit aliquid architecto eligendi pariatur ab soluta doloremque dicta aspernatur labore quibusdam dolore corrupti quod inventore. Maiores, repellat, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p>
                        <h3>Fugit, laboriosam</h3>
                        <p>Eum, quasi, est, vitae, ipsam nobis consectetur ea aspernatur ad eos voluptatibus fugiat nisi perferendis impedit. Quam, nulla, excepturi, voluptate minus illo tenetur sint ab in culpa cumque impedit quibusdam. Saepe, molestias quia voluptatem natus velit fugiat omnis rem eos sapiente quasi quaerat aspernatur quisquam deleniti accusantium laboriosam odio id?</p>
                    </article>
                    <!-- /Article -->
                </div>

                <div id="side" class="tab-pane fade">
                    <!-- Article main content -->
                    <article class="col-sm-8 maincontent">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p><img src="http://placehold.it/900x600" alt="" class="" width="100%" ></p>
                        <h3>Necessitatibus</h3>
                        <p>Velit, odit, eius, libero unde impedit quaerat dolorem assumenda alias consequuntur optio quae maiores ratione tempore sit aliquid architecto eligendi pariatur ab soluta doloremque dicta aspernatur labore quibusdam dolore corrupti quod inventore. Maiores, repellat, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p>
                        <h3>Fugit, laboriosam</h3>
                        <p>Eum, quasi, est, vitae, ipsam nobis consectetur ea aspernatur ad eos voluptatibus fugiat nisi perferendis impedit. Quam, nulla, excepturi, voluptate minus illo tenetur sint ab in culpa cumque impedit quibusdam. Saepe, molestias quia voluptatem natus velit fugiat omnis rem eos sapiente quasi quaerat aspernatur quisquam deleniti accusantium laboriosam odio id?</p>
                    </article>
                    <!-- /Article -->
                </div>
            </div>
        </div><!-- /container -->
    </section>  

    </div>  <!-- /container -->

</main>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 widget">
                <h3 class="widget-title">Contact</h3>
                <div class="widget-body">
                    <p>+622152905148<br>
                        <a href="mailto:#">example.blabla@example.com</a><br>
                        <br>
                        Jl. Coblong Selatan Bandung
                    </p>
                </div>
            </div>

            <div class="col-md-3 widget">
                <h3 class="widget-title">Follow me</h3>
                <div class="widget-body">
                    <p class="follow-me-icons">
                        <a href="#"><i class="fa fa-twitter fa-2"></i></a>
                        <a href="#"><i class="fa fa-dribbble fa-2"></i></a>
                        <a href="#"><i class="fa fa-github fa-2"></i></a>
                        <a href="#"><i class="fa fa-facebook fa-2"></i></a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 widget">
                <h3 class="widget-title">Text widget</h3>
                <div class="widget-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
                </div>
            </div>

            <div class="col-md-3 widget">
                <h3 class="widget-title">Form widget</h3>
                <div class="widget-body">
                    <p>+622152905148<br>
                        <a href="mailto:#">example.blabla@example.com</a><br>
                        <br>
                        Jl. Coblong Selatan Bandung
                    </p>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</footer>

<footer id="underfooter">
    <div class="container">
        <div class="row">

            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p>BDG JUARA </p>
                </div>
            </div>

            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p class="text-right">
                        Copyright &copy; 2017, Web Builder Template<br>
                        Design: <a href="#" rel="designer">Web Builder Template</a> </p>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</footer>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="fa fa-arrow-up"></span></a>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/template.js"></script>
</body>
</html>
